@model MTVideos.Models.Customer


<h2>@Model.Name</h2>

<ul>
    @if (Model.Birthdate.HasValue)
    {
        <li>D.O.B - @Model.Birthdate.Value.ToShortDateString()</li>
    }
    <li>Subscribed to Newsletter? @Model.IsSubscribed </li>
    <li>Type of Membership: @Model.MembershipType.TypeOfMembership </li>
   
</ul>